.hero-body {
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
}

.title {
  color: white;
}

.title .icon {
  margin-left: 15px;
}

.content {
  margin-top: 20px;
}

.hero {
  margin-bottom: 20px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.is-light {
  color: black !important;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
}

.is-warning {
  color: black !important;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.is-success {
  color: white !important;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

.poster-plot {
  margin: 0;
  padding: 0;
  height: 19em;
}

.poster-plot figure {
  width: 35%;
  margin: 0 1em 0 0;
  float: left;
}

.media-content .content {
  margin-right: 1em;
}

.media-content .content p {
  line-height: 22px;
  font-size: 14px;
}

figure .image img {
  width: 200px;
  border-radius: 6px;
}

.notification {
  margin-top: 20px !important;
}

article .title {
  color: white;
  font-size: 25px;
}

article .subtitle {
  color: white;
  font-size: 15px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1216px) {
  .poster-plot {
    margin: 0;
    padding: 0;
    height: 17em;
  }
}

@media screen and (max-width: 1025px) {
  .container {
    margin-left: 1em;
    margin-right: 1em;
  }

  .poster-plot {
    margin: 0;
    padding: 0;
    height: 15em;
  }

  .poster-plot figure {
    width: 30%;
    float: left;
  }
}

@media screen and (max-width: 939px) {
  .poster-plot {
    margin: 0;
    padding: 0;
    height: 18em;
  }

  .poster-plot figure {
    height: 100%;
    float: left;
  }
}

@media screen and (max-width: 827.9px) {
  .poster-plot figure {
    height: 100%;
  }

  .poster-plot {
    height: 20em;
  }
}

@media screen and (max-width: 768.80px) {
  .poster-plot {
    margin: auto;
    height: 19em;
  }

  .poster-plot figure {
    display: flex;
  }

  figure .image {
    margin: auto 0;
  }

  figure .image img {
    margin: auto 0;
    padding: 0;
  }
}

@media screen and (max-width: 622px) {
  .poster-plot figure {
    display: flex;
    width: 30%;
    margin: 0 1em 0 0;
    float: left;
  }
}